@use "material-components-web";
:root {
    --mdc-theme-primary: #373f66;
    --mdc-theme-on-primary: white;
    --mdc-theme-surface: #242943;
    --mdc-theme-on-surface: white;
}

html {
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: var(--mdc-theme-surface) var(--mdc-theme-primary);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--mdc-theme-surface);
}

::-webkit-scrollbar-thumb {
    background: #575174;
    border-radius: 10px;
}

.divider-8 {
    width: 80%;
    height: 1px;
    margin: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--mdc-theme-on-surface);
}